<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>우리파트 이름</title>
</head>
<body>
<div class="container mt-5">
    <div class="card mt-4">
        <div class="card-header bg-dark text-white">
            <h2>내 이름</h2>
        </div>
        <div class="card-body">
            <h3>{{myName}}</h3>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header bg-primary text-white">
            <h2>최강 서버 파트원들(카톡보면서 이름 확인하면 실망)</h2>
        </div>
        <div class="card-body">
            <h3>{{teamName}}</h3>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>